<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="main-page">
    <div class="header-section">
        <div class="todo-logo">TODO 서비스</div>
        <div class="baemin-img">
            <img src="./img/baemin.png" alt="배민캐릭터">
        </div>
        <div class="menu-btn">menu</div>
    </div>

    <div class="body-section">
        <div class="lists-wrap">
            <div class="add-list-btn">
                <div class="add-list-title">+ Add Card</div>
            </div>
        </div>
    </div>
</div>
<script src="../public/scripts/main.js"></script></body>
</html>