<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<!--    <link rel="stylesheet" href="index.css">-->
<!--    <link rel="stylesheet" href="reset.css">-->
</head>
<body>
<div class="main-page">
    <nav class="header-section">
        <div class="todo-logo">TODO 서비스</div>
        <div class="menu-btn">menu</div>
    </nav>

    <div class="body-section">
        <div class="lists-wrap">
            <div class="list">
                <div class="list-header-section">
                    <div class="list-header-left-wrap">
                        <div class="cards-count">0</div>
                        <div class="list-title">ToDo List</div>
                    </div>
                    <div class="list-header-right-wrap">
                        <div class="add-card-btn">+</div>
                        <div class="list-details-btn">=</div>
                    </div>
                </div>

                <div class="list-body-section">
                    <div class="new-card-area"></div>
                    <div class="cards-wrap">
                        <div class="card">
                            <div class="card-header-section">
                                <div class="card-title">&#x1F4D6; 미들웨어 공부</div>
                                <div class="card-del-btn">✖</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header-section">
                                <div class="card-title">&#x1F4D6; 웹팩 설정하기</div>
                                <div class="card-del-btn">✖</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="list">
                <div class="list-header-section">
                    <div class="list-header-left-wrap">
                        <div class="cards-count">0</div>
                        <div class="list-title">In Progress</div>
                    </div>
                    <div class="list-header-right-wrap">
                        <div class="add-card-btn">+</div>
                        <div class="list-details-btn">=</div>
                    </div>
                </div>

                <div class="list-body-section">
                    <div class="new-card-area"></div>
                    <div class="cards-wrap">
                        <div class="card">
                            <div class="card-header-section">
                                <div class="card-title">&#x1F4D6; 바벨 설정하기</div>
                                <div class="card-del-btn">✖</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="list-header-section">
                    <div class="list-header-left-wrap">
                        <div class="cards-count">0</div>
                        <div class="list-title">Done</div>
                    </div>
                    <div class="list-header-right-wrap">
                        <div class="add-card-btn">+</div>
                        <div class="list-details-btn">=</div>
                    </div>
                </div>

                <div class="list-body-section">
                    <div class="new-card-area"></div>
                    <div class="cards-wrap">
                        <div class="card">
                            <div class="card-header-section">
                                <div class="card-title">&#x1F4D6; 도커 설치하기</div>
                                <div class="card-del-btn">✖</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="add-list">
                <div class="add-title">+ Add Card</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>