.create-card-area {

  display: flex;
  flex-direction: column;
  .input-card-contents {
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: white;
    resize: vertical;
    height: 80px;
    padding: 10px;
    font-size: 20px;

  }
  .btn-wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    height: 30px;

    .add-btn {
      flex-grow: 1;
      margin-right: 5px;
      background-color: #78dbeb;
      color: white;
      border-radius: 3px;
      padding: 5px;
      font-size: 15px;
      &:hover {
        background-color: #57a1e1;
        cursor: pointer;
      }
      &:disabled{
        //border: 1px solid #999999;
        //background-color: #cccccc;
        opacity: 0.5;
      }
    }
    .cancel-btn {
      flex-grow: 1;
      background-color: white;
      color: black;
      border-radius: 3px;
      padding: 5px;
      font-size: 15px;

      &:hover {
        color: gray;
        cursor: pointer;
      }
    }
  }
}