.card-modal-layer {
  position: relative;
  width: 500px;
  height: 500px;
  border:1px solid red;
  .card-modal-header-section {
    .card-modal-header-title {

    }
    .card-modal-close-btn {

    }
  }
  .card-modal-body-section {
    .card-modal-body-title {

    }
    .card-contents-revise-textarea {

    }
    .card-modal-save-btn {

    }
  }
}