.card {
  background-color: white;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 15px;

  .card-header-section {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;

    .card-header-left {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      .card-icon {
        margin-right: 10px;

      }
      .card-title {
        font-size: 20px;

      }
      &:hover {
        color: gray;
      }
    }

    .card-del-btn {
      &:hover {
        color: gray;
        cursor: pointer;
      }
    }
  }
}