.card {
  background-color: white;
  height: 120px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px 0px rgba(171, 171, 171, 1);

  .card-header-section {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;

    .card-header-left {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .card-icon {
        margin-right: 10px;

      }

      .card-title {
        font-size: 20px;

      }

      &:hover {
        color: gray;
      }
    }

    .card-del-btn {
      &:hover {
        color: gray;
        cursor: pointer;
      }
    }
  }

  .card-body-section {
    padding: 40px 15px 15px 42px;
    color: #57a1e1;
    font-size: 15px;
  }
}

.under-hover-card{
  opacity: 0.5;
  filter: blur(3px);
}

.hover-card{
  opacity: 0.8;
  border: 4px dashed #77D2E5;
}