.main-page {
  .header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 50px;
    font-size: 20px;
    background-color: #2ecfcc;
    color: white;
.main-page-header-left-section {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .todo-logo-title {
    font-weight: 600;
    font-size: 30px;
    margin-right: 5px;
  }
  .todo-logo-subtitle {
    font-size: 15px;
  }
}

    .main-page-header-right-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      .icon-wrap {
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        justify-content: space-between;
        width: 160px;
      }
      .nav-btn {
        margin-left: 10px;
        font-weight: 600;
        font-size: 30px;
        &:hover {
          color: gray;
          cursor: pointer;
        }
      }
    }


  }

  .body-section {
    padding: 15px;

    .lists-wrap {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .add-list-btn {
        border: dotted lightgray;
        width: 400px;
        height: 200px;
        border-radius: 10px;
        display: flex;
        &:hover {
          border: dotted gray;
          cursor: pointer;
        }

        .add-list-title {
          font-size: 20px;
          font-weight: 600;
          color: grey;
          margin: auto;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}