.list {
  background-color: lightgray;
  width: 400px;
  height: 100vw;
  margin-right: 10px;
  border-radius: 5px;

  .list-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
    height: 25px;

    .list-header-left-wrap {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .cards-count {
        margin: 10px;
        font-weight: 600;
        font-size: 15px;

      }

      .list-title {
        font-weight: 600;
        font-size: 15px;

      }
    }

    .list-header-right-wrap {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .add-card-btn {
        margin: 10px;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
      }

      .list-details-btn {
        font-weight: 600;
        font-size: 20px;
      }
    }

  }

  .list-body-section {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .new-card-area {

    }

    .cards-wrap {
      display: flex;
      flex-direction: column;
    }
  }
}
